<form [formGroup]="noteForm" (ngSubmit)="onSubmit(noteForm.value)">
    <div class="row" id="btnRow">
        <button 
            class="btn btn-warning" 
            type="button" 
            (click)="onClear()">
            Clear
        </button>
        <button 
            class="btn btn-success" 
            type="submit"
            [disabled]="!noteForm.valid">
            Save
        </button>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input 
            type="text" 
            id="title" 
            formControlName="title" 
            class="form-control">
        <span *ngIf="!noteForm.get('title').valid && noteForm.get('title').touched" class="help-block">
            <span>
                This Field is required!
            </span>
        </span>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea type="text" id="body" formControlName="body" class="form-control"></textarea>
        <span *ngIf="!noteForm.get('body').valid && noteForm.get('body').touched" class="help-block">
            <span>
                This Field is required!
            </span>
        </span>
    </div>

</form>