.container-fluid {
    height: 100vh;
}

#headerRow {
    border-bottom: 1px solid lightgray;
    justify-content: center;
}

#mainNavbar {
    justify-content: space-between;
    padding-right: 15px;
}


#displayRow {
    flex-direction: column;
    height: 100vh;
}
